<div class="row">
    <div class="col-md-4">
        {data.tx_gridelements_view_columns.0 -> f:format.raw()}
    </div>
    <div class="col-md-4">
        {data.tx_gridelements_view_columns.1 -> f:format.raw()}
    </div>
    <div class="col-md-4">
        {data.tx_gridelements_view_columns.2 -> f:format.raw()}
    </div>
</div>