<f:spaceless>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <f:render partial="SandwichMenu" />

            <div id="navbar" class="navbar-collapse collapse">
                <!-- Start navi -->
                <f:cObject typoscriptObjectPath="TopNavi" />
            </div>
        </div>
    </nav>

    <f:render section="Main" arguments="{_all}" />

    <div class="footer container text-center">
        <footer>
            <f:cObject typoscriptObjectPath="FooterNavi" />
        </footer>
    </div>
</f:spaceless>
