body {
    padding-top: 50px;
}
.footer {
    margin-top: 2rem;
}
.header {
    position: relative;
    background-size: cover;
    height: 50rem;
    width: 100%;
}
.header .claim {
    position: absolute;
    top: 20rem;
    font-size: 2rem;
    width: 100%;
    color: white;
}
.header .btn-lg {
    background: none;
    color: white;
}

.mt50 { margin-top: 50px; }
.mb50 { margin-bottom: 50px; }

.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.p40 { padding: 40px; }