<f:layout name="EasyOnepageDefault" />

<f:section name="Main">
    <div class="row">
        <div class="col-md-4">
            {leftContent -> f:format.raw()}
        </div>
        <div class="col-md-4">
            {centerContent -> f:format.raw()}
        </div>
        <div class="col-md-4">
            {rightContent -> f:format.raw()}
        </div>
    </div>
</f:section>