<f:layout name="Default" />

<f:section name="Main">
    {homepageHeader -> f:format.raw()}
    <div class="container">
        <section id="home">
            {homepageContent -> f:format.raw()}
        </section>
        {onepageContent -> f:format.raw()}
    </div>
</f:section>