<div
        class="header"
        style="background-image: url('/{HeaderImage.0.publicUrl}');"
>
    <div class="claim text-center">
        <h1 class="text-uppercase text-white">{HeaderImage.0.title}</h1>
        <p>{HeaderImage.0.description}</p>
        <br>
        <p>
            <a
                    href="/#home"
                    class="btn btn-default btn-lg"
            >
                <span class="glyphicon glyphicon-chevron-down"></span> Find out more
            </a>
        </p>
    </div>
</div>